<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">


	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<!-- Add icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

	<link href="https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap" rel="stylesheet">

	{% block head %} {% endblock %}

</head>

<body>

	<section align="center">
		<!-- header -->
		<div class=" ">
			<h1 class="">THING FINDER</h1>
		</div>



		<div class="container">
			<div class="mt-4">

				{% block body %} {% endblock %}

			</div>
			<!-- <div class="col-lg-1 mb-4"></div> -->

		</div>
				<div class="container mb-4">
					<div class="card text-center">
						<!-- <div class="col-lg-1 mb-4"></div> -->
						<h5 class="card-header">Welcome to Thing Finder!</h5>
						<div class="card-body">
							<p class="card-text">Thing Finder is a new app by <a href="https://linkedin.com/in/babatundemonye">
									Babatunde </a></p>
							<p class="card-text">"Things Finder is your go-to app for organizing and tracking your belongings. Easily
								add items, specify their locations,
								and never lose track of anything again. Simple, efficient, and designed to make your life easier."</p>
							<p class="card-text">Truly, the optimal solution!</p>
						</div>
					</div>
					</div>

	


	</section>

	<!-- Footer -->
	<footer class="py-5 ">
		<div class="container">
			<p class="m-0 text-center text-white">&copy; <a href="hhttps://linkedin.com/in/babatundemonye"> Baba </a> 2030</p>
			
			<div align="center">
				<span>
					<!--GitHub-->
					<a href="https://github.com/Social-merit" target="_blank" class="fa fa-github"></a> |
					<!--Medium-->
					<a href="https://medium.com/@economicmerit" target="_blank" class="fa fa-medium"></a> |
					<!--LinkedIn-->
					<a href="https://linkedin.com/in/babatundemonye" target="_blank" class="fa fa-linkedin"></a>
					</span>
					</div>
					</div>

	</footer>

</body>

</html>