{% extends 'base.html' %}

{% block head %}
<title>THING FINDER</title>
{% endblock %}


{% block body %}

<div class="content">
	<div class="container">
		<h5>UPDATE FINDER</h5>

		<form class="mb-4" action='/update/{{task.id}}' , method='POST'>
			<div class="input-group mb-3">
				<input type="text" class="form-control" name="thing" id='thing' , value='{{task.thing}}'>
				<span class="input-group-text"> And </span>
				<input type="text" class="form-control" name="location" id='location' , value='{{task.location}}'>

			</div>

			<button type="submit" class="btn btn-primary">Update Thing</button>
		</form>


	</div>

	{% endblock %}